@import './base.less';
@import './common.less';
@import './payWin.less';
@rem:46.875rem;
@xColor:#ffad98;
@9d : #9d9d9d;

.orderInfo {
    height: 167/@rem;
    background: #fff;
    padding: 19/@rem 30/@rem 18/@rem;
    margin-bottom: 15/@rem;
    img {
        width: 130/@rem;
        height: 130/@rem;
        border-radius: 6/@rem;
        margin-right: 22/@rem;
        .fl;
    }
    .info {
        h3 {
            font-size: 25/@rem;
            line-height: 53/@rem;
            height: 53/@rem;
        }
        p{
            font-size: 22/@rem;
            color: #a7a7a7;
            margin-bottom: 23/@rem;
            line-height: 28/@rem;
        }
        div {
            line-height: 24/@rem;
            font-size: 28/@rem;
            
        }
        .price{
        	color: #e00314;
        	i {
	            font-size: 24/@rem;
	            color: #ccc;
	            margin-left: 15/@rem;
	        }
        	.fl;
        }
        
        .freight{
        	.fl;
        	font-size: 10*2/@rem;
        	color:#a7a7a7;
        	margin-left: 45*2/@rem;
        }
    }
}
.bond{
	padding:17*2/@rem 15*2/@rem;
	background: #fff;
	margin-bottom: 9*2/@rem;
	overflow: hidden;
	.tit,.con{
		.fl;
		width: 50*2/@rem;
		font-size: 12*2/@rem;
		color:#666;
		line-height: 20*2/@rem;
	}
	.con{
		.fr;
		color:#999;
		text-align: right;
	}
}
.form{
	padding:0 15*2/@rem;
	background: #fff;
	>div{
		overflow: hidden;
		padding:20*2/@rem 0;
		font-size: 12*2/@rem;
	}
	>div:nth-child(1),>div:nth-child(2){
		border-bottom: 1*2/@rem dashed #d5d5d5;
	}
	.tit{
		.fl;
		width: 50*2/@rem;
		font-size: 12*2/@rem;
		color:#666;
		line-height: 20*2/@rem;
	}
	.con{
		.fl;
		line-height: 20*2/@rem;
		width: 295*2/@rem;
		font-size: 12*2/@rem;
		color:#191919;
	}
	.SelAdre{
		background: #f4f4f4;
		margin-left: -15*2/@rem;
		padding:0;
		width: 16rem;
		text-align: center;
		button{
			line-height: 17.5*2/@rem;
			padding:15*2/@rem 30*2/@rem;
			color:#686868;
		}
		span{
			display: inline-block;
			vertical-align: top;
			width: 17.5*2/@rem;
			height: 17.5*2/@rem;
			line-height: 17.5*2/@rem;
			border-radius: 3*2/@rem;
			background: #ff7654;
			font-size: 18*2/@rem;
			color:#fff;
			margin-right: 10*2/@rem;
		}
	}
	.subMoney{
		background: #f4f4f4;
		width: 16rem;
		margin-left: -15*2/@rem;
		padding:34*2/@rem 0 0 0 ;
		text-align: center;
		color:#929292;
		span{
			color:#e00314;
			font-size: 30*2/@rem;
			margin-left: 15*2/@rem;
			font-weight: bold;
		}
	}
	.answer{
		font-size: 12*2/@rem;
		.tips{
			.fl;
			color:#ccc;
		}
		.con{
			.fr;
			width: auto;

		}
		i{
			font-size: 16*2/@rem;
			color:#e00314;		
		}
	}
}
.decision{
	text-align: center;
	padding: 65/@rem 0 39*2/@rem 0;
	button{
		width: 320/@rem;
		height: 100/@rem;
		border-radius: 100/@rem;
		background: #fff;
		border:1/@rem solid #ff7653;
		font-size: 34/@rem;
		font-weight: bold;
		color: #ff7653;
		margin-right: 20/@rem;
	}
	.sure{
		background: #ff7653;
		color:#fff;
	}
}
.payWin{
	// display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 16rem;
	height: 100%;
	background: rgba(0,0,0,.3);
}
.popup{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 16rem;
	padding:0 15px;
	background: #fff;
	li{
		padding:17.5px 10px;
		border-bottom: 1px dashed #d5d5d5;
		overflow: hidden;
		.con{
			line-height: 20px;
			font-size: 15px;
			.fl;
			color:#ccc;
		}
		span{
			.fr;
			line-height: 20px;
			font-size: 15px;
			color:#e00314;
			font-weight: bold;
		}
	}
	.paylink{
		padding:0;
		a{
			display: block;
			padding:17.5px 10px;
			width: 100%;
			overflow: hidden;
		}
		img:nth-child(1){
			width: 30px;
			height: 30px;
			margin-right: 11px;
			.fl;
		}	
		div{
			.fl;
			height: 30px;
			line-height: 30px;
		}
		img:nth-child(3){
			width: 10px;
			height: 16px;
			margin-top: 7px;
			.fr;
		}
	}
	.close{
		width: 15px;
		height: 15px;
		background: url('../images/publish/X@2x.png') no-repeat center;
		background-size: 100%;
		-webkit-background-size: 100%;
	}
}