.titleInfo {
  overflow: hidden;
  background: #fff;
  padding: 0.46933333rem 0.61866667rem;
}
.titleInfo_l {
  float: left;
}
.titleInfo_l .avatar {
  float: left;
  width: 1.62133333rem;
  height: 1.62133333rem;
  border-radius: 50%;
}
.titleInfo_l img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.titleInfo_l p.name {
  color: #5c5c5c;
  font-size: 0.46933333rem;
  margin: 0.29866667rem 0 0.17066667rem 2.32533333rem;
}
.titleInfo_l .name a {
  color: #5c5c5c;
}
.titleInfo_l .name span {
  display: inline-block;
  background: url(/v2/images/index/sun.png) no-repeat;
  background-size: 100%;
  width: 0.49066667rem;
  height: 0.55466667rem;
  margin-left: 0.17066667rem;
  vertical-align: middle;
}
.titleInfo_l p.time {
  color: #a7a7a7;
  font-size: 0.384rem;
  margin-left: 2.32533333rem;
}
.titleInfo_r {
  float: right;
}
.titleInfo_r .message {
  margin-top: 0.29866667rem;
  width: 2.56rem;
  height: 1.06666667rem;
  display: inline-block;
  background: #fff;
  color: #ff8667;
  border: 1px solid #ff8667;
  font-size: 0.46933333rem;
  text-align: center;
  line-height: 1.06666667rem;
  border-radius: 0.14933333rem;
}
.line {
  background: url(/v2/images/detail/detail_line.png) no-repeat;
  background-size: 100%;
  height: 1px;
}
.detailBox {
  padding: 0.36266667rem 1.04533333rem;
  background: #fff;
}
.priceBox {
  width: 13.888rem;
  height: 1.70666667rem;
  margin-bottom: 0.42666667rem;
  background: #ff7653;
  border-radius: 0.17066667rem;
  padding: 0 0.68266667rem;
  overflow: hidden;
  line-height: 1.70666667rem;
}
.priceBox .price {
  font-size: 0.68266667rem;
  color: #fff;
  float: left;
  font-weight: bold;
}
.priceBox .price span {
  font-size: 0.384rem;
  color: #898989;
  text-decoration: line-through;
  display: inline-block;
  margin-left: 0.42666667rem;
  font-weight: normal;
}
.priceBox .text {
  font-size: 0.55466667rem;
  color: #fff;
  float: right;
}
.likeBox {
  background: #fff;
  padding: 0 0.61866667rem;
  margin: 0.32rem 0;
}
.likeBox .row {
  padding: 0.32rem 0.42666667rem;
  overflow: hidden;
}
.row ul {
  float: left;
  overflow: hidden;
}
.row li {
  float: left;
  width: 1.408rem;
  height: 1.408rem;
  border-radius: 50%;
  margin-right: 0.384rem;
}
.row li img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.row p {
  float: right;
  font-size: 0.42666667rem;
  color: #474747;
  margin-top: 0.448rem;
}
.row .like span {
  background: url(/v2/images/detail/liked.png) no-repeat;
  background-size: 100%;
  width: 0.66133333rem;
  height: 0.576rem;
  vertical-align: middle;
  display: inline-block;
  margin-right: 0.21333333rem;
}
.commentBox {
  background: #fff;
  padding: 0 0.61866667rem;
  margin-bottom: 0.32rem;
}
.commentRow {
  overflow: hidden;
  padding: 0.42666667rem;
  position: relative;
}
.commentBox .line:last-child {
  display: none;
}
.userInfo_l {
  float: left;
}
.userInfo_l .avatar {
  float: left;
  width: 1.408rem;
  height: 1.408rem;
  border-radius: 50%;
}
.userInfo_l img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.userInfo_l p.name {
  color: #5c5c5c;
  font-size: 0.46933333rem;
  margin: 0.10666667rem 0 0.32rem 1.77066667rem;
}
.userInfo_l .name a {
  color: #5c5c5c;
}
.userInfo_l .name span {
  display: inline-block;
  background: url(/v2/images/index/sun.png) no-repeat;
  background-size: 100%;
  width: 0.49066667rem;
  height: 0.55466667rem;
  margin-left: 0.17066667rem;
  vertical-align: middle;
}
.userInfo_l .offer {
  margin-left: 1.77066667rem;
  margin-bottom: 0.32rem;
}
.userInfo_l .offer span {
  width: 1.62133333rem;
  height: 0.72533333rem;
  display: inline-block;
  background: #e00314;
  color: #fff;
  font-size: 0.384rem;
  text-align: center;
  line-height: 0.72533333rem;
  border-radius: 0.14933333rem;
}
.userInfo_l .offer i {
  font-size: 0.384rem;
  color: #e72d4c;
  display: inline-block;
  margin-left: 0.32rem;
  vertical-align: middle;
}
.userInfo_l p.content {
  color: #a7a7a7;
  font-size: 0.384rem;
  margin-left: 1.77066667rem;
  width: 9.6rem;
}
.userInfo_r {
  float: right;
}
.userInfo_r .time {
  color: #a7a7a7;
  font-size: 0.384rem;
}
.userInfo_r .revoke_offer {
  color: #ff7653;
  font-size: 0.384rem;
  position: absolute;
  right: 0.42666667rem;
  bottom: 0.42666667rem;
}
.userInfo_r .revoke_offer_ed {
  color: #fff;
  font-size: 0.384rem;
  position: absolute;
  right: 0.42666667rem;
  bottom: 0.42666667rem;
  width: 2.64533333rem;
  height: 0.68266667rem;
  background: #d9d9d9;
  text-align: center;
  line-height: 0.68266667rem;
}
.inputBox {
  background: #fff;
  padding: 0 0.61866667rem;
}
.inputRow {
  height: 2.048rem;
  line-height: 2.048rem;
  padding: 0 0.42666667rem;
  overflow: hidden;
}
.inputRow p {
  float: left;
  color: #474747;
  font-size: 0.55466667rem;
  font-weight: bold;
}
.inputRow input {
  border: none;
  background: #fff;
  height: 100%;
  margin-left: 0.64rem;
}
.btnBox {
  margin: 1.17333333rem 0.61866667rem 2.13333333rem;
  overflow: hidden;
}
.btnBox a {
  width: 6.76266667rem;
  height: 2.19733333rem;
  background: #ff7653;
  color: #fff;
  font-size: 0.768rem;
  line-height: 2.19733333rem;
  text-align: center;
  border-radius: 0.14933333rem;
}
.btnBox .bargain {
  float: left;
}
.btnBox .buy {
  float: right;
}
