.topbar {
  position: fixed;
  top: 0;
  width: 16rem;
  z-index: 1;
  padding: 0.21333333rem 0.42666667rem;
  background: rgba(0, 0, 0, 0.4);
}
.topbar .typeBtn {
  float: left;
  background: url('/v2/images/index/more.png');
  width: 0.896rem;
  height: 0.896rem;
  background-size: 0.896rem 0.896rem;
  margin-top: 0.21333333rem;
}
.topbar .search {
  float: left;
  background: url('/v2/images/index/search.png');
  width: 12.56533333rem;
  height: 1.36533333rem;
  background-size: 12.56533333rem 1.36533333rem;
  margin-left: 0.42666667rem;
}
.topbar .centerBtn {
  float: right;
  background: url('/v2/images/index/center.png');
  width: 0.896rem;
  height: 0.896rem;
  background-size: 0.896rem 0.896rem;
  margin-top: 0.21333333rem;
}
.slider {
  position: relative;
  height: 9.42933333rem;
}
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
  height: 9.42933333rem;
}
.swipe-wrap li {
  float: left;
  width: 16rem;
  position: relative;
}
.swipe-wrap a {
  display: block;
  width: 16rem;
  height: 9.42933333rem;
}
.swipe-wrap img {
  width: 100%;
  height: 100%;
}
.slider nav {
  position: absolute;
  bottom: 0.21333333rem;
  width: 16rem;
  text-align: center;
}
.slider nav ul {
  overflow: hidden;
  display: inline-block;
}
.slider nav li {
  float: left;
  color: #fff;
  opacity: 0.8;
  font-size: 0.64rem;
}
.slider nav .on {
  color: #ff672b;
}
.official {
  background: #fff;
  padding-bottom: 1.04533333rem;
}
.official h4 {
  color: #999;
  line-height: 1.68533333rem;
  text-align: center;
  font-size: 0.46933333rem;
  font-weight: bold;
}
.slick-list {
  height: 8.53333333rem;
}
.center .slick-slide {
  width: 13.888rem;
  height: 8.32rem;
}
.center a {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  transform: scale(0.85);
  -webkit-transform: scale(0.85);
  -o-transform: scale(0.85);
  box-shadow: 0 0 0.21333333rem rgba(0, 0, 0, 0.5);
}
.center .slick-center a {
  transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
}
.center img {
  width: 100%;
  height: 6.05866667rem;
}
.slick .price_tag {
  position: absolute;
  top: 0.384rem;
  right: -0.10666667rem;
  width: 2.13333333rem;
  height: 1.06666667rem;
  display: inline-block;
  background: #e00314;
  color: #fff;
  font-weight: bold;
  font-size: 0.46933333rem;
  text-align: center;
  line-height: 1.06666667rem;
  border-radius: 0.14933333rem;
}
.slick_text {
  background: #fff;
  text-align: center;
  height: 2.26133333rem;
}
.slick_text h5 {
  font-size: 0.55466667rem;
  color: #000;
  padding: 0.384rem 0 0.256rem;
  font-weight: bold;
}
.slick_text p {
  color: #a7a7a7;
  font-size: 0.46933333rem;
}
.fans > h4 {
  height: 2.45333333rem;
  text-align: center;
  color: #929292;
  font-size: 0.46933333rem;
  padding-top: 0.768rem;
  font-weight: bold;
}
.fans_list li {
  background: #fff;
  margin-bottom: 0.64rem;
  padding: 0.42666667rem 0.64rem;
}
.fans_list .titleInfo {
  overflow: hidden;
}
.fans_list .titleInfo_l {
  float: left;
}
.titleInfo_l .avatar {
  float: left;
  width: 1.62133333rem;
  height: 1.62133333rem;
  border-radius: 50%;
}
.titleInfo_l img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.titleInfo_l p.name {
  color: #5c5c5c;
  font-size: 0.46933333rem;
  margin: 0.29866667rem 0 0.17066667rem 2.32533333rem;
}
.titleInfo_l .name a {
  color: #5c5c5c;
}
.titleInfo_l .name span {
  display: inline-block;
  background: url(/v2/images/index/sun.png) no-repeat;
  background-size: 100%;
  width: 0.49066667rem;
  height: 0.55466667rem;
  margin-left: 0.17066667rem;
  vertical-align: middle;
}
.titleInfo_l p.time {
  color: #a7a7a7;
  font-size: 0.384rem;
  margin-left: 2.32533333rem;
}
.fans_list .titleInfo_r {
  float: right;
}
.titleInfo_r .state {
  background: url(/v2/images/index/ico_t.png) #ffc8ba no-repeat;
  background-size: 0.896rem 0.896rem;
  padding-left: 1.00266667rem;
  padding-right: 0.128rem;
  height: 0.896rem;
  color: #fff;
  line-height: 0.896rem;
  border-radius: 0.10666667rem;
  display: inline-block;
  margin-right: 0.21333333rem;
}
.titleInfo_r .price {
  width: 2.13333333rem;
  height: 1.06666667rem;
  display: inline-block;
  background: #e00314;
  color: #fff;
  font-weight: bold;
  font-size: 0.46933333rem;
  text-align: center;
  line-height: 1.06666667rem;
  border-radius: 0.14933333rem;
}
.fans_list .picBox {
  overflow: hidden;
  margin-top: 0.32rem;
  padding-left: 0.21333333rem;
}
.picBox img {
  float: left;
  width: 4.352rem;
  height: 4.352rem;
  margin: 0 0.21333333rem;
}
.fans_list li .line {
  background: url(/v2/images/index/line.png) no-repeat;
  background-size: 100%;
  width: 11.968rem;
  height: 1px;
  margin-left: 1.32266667rem;
  margin-top: 0.46933333rem;
}
.fans_list .textInfo {
  overflow: hidden;
  text-align: center;
  padding-top: 0.34133333rem;
  position: relative;
}
.textInfo .comment {
  position: absolute;
  top: 0.46933333rem;
  left: 0;
  background: url(/v2/images/index/comment.png) no-repeat 0 0.74666667rem;
  background-size: 100%;
  padding-bottom: 0.74666667rem;
  color: #949494;
}
.textInfo .text h5 {
  font-size: 0.55466667rem;
  color: #000;
  padding: 0.21333333rem 0 0.32rem;
  font-weight: bold;
}
.textInfo .text p {
  color: #a7a7a7;
  font-size: 0.46933333rem;
}
.textInfo .like {
  position: absolute;
  top: 0.46933333rem;
  right: 0;
  background: url(/v2/images/index/like.png) no-repeat 0 0.74666667rem;
  background-size: 100%;
  padding-bottom: 0.74666667rem;
  color: #949494;
}
.postBtn {
  background: url(/v2/images/index/btn.png) no-repeat;
  background-size: 100%;
  width: 2.34666667rem;
  height: 2.34666667rem;
  position: fixed;
  right: 0.21333333rem;
  bottom: 3.41333333rem;
}
.toTop {
  background: url(/v2/images/index/toTop.png) no-repeat;
  background-size: 100%;
  width: 1.536rem;
  height: 1.536rem;
  position: fixed;
  right: 0.64rem;
  bottom: 5.97333333rem;
  display: none;
}
