.payPage {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 100;
}
.payBox {
  background: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 17.06666667rem;
}
.payBox {
  animation: pay 1s;
  -webkit-animation: pay 1s;
}
@keyframes pay {
  from {
    height: 0;
  }
  to {
    height: 17.06666667rem;
  }
}
@-webkit-keyframes pay {
  from {
    height: 0;
  }
  to {
    height: 17.06666667rem;
  }
}
.payBox h3 {
  height: 2.56rem;
  line-height: 2.56rem;
  color: #666;
  font-size: 0.768rem;
  position: relative;
  text-align: center;
  border-bottom: 1px solid #d2d2d2;
}
.payBox .pay_close {
  background-size: 1.408rem 5.632rem;
  width: 1.408rem;
  height: 1.408rem;
  position: absolute;
  top: 0.512rem;
  right: 0.42666667rem;
}
.payBox div {
  padding: 0 0.64rem;
  border-bottom: 1px solid #d2d2d2;
  height: 2.19733333rem;
  line-height: 2.19733333rem;
  overflow: hidden;
}
.payBox div .fl {
  float: left;
}
.payBox div .fr {
  float: right;
}
.payBox div p {
  font-size: 0.64rem;
}
.pay_price .fl {
  color: #666;
}
.pay_price .fr {
  color: #cf3131;
  font-size: 0.85333333rem;
}
.pay_type .fl {
  color: #333;
}
.pay_type .pay_icon {
  background-size: 1.408rem 5.632rem;
  height: 1.408rem;
  width: 1.408rem;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0.128rem;
  margin-right: 0.40533333rem;
}
.weixin i {
  color: #999;
  font-size: 0.384rem;
  display: inline-block;
  margin-left: 0.17066667rem;
}
.alipay .pay_icon {
  background-position: 0 -1.408rem;
}
.pay_type .select {
  background-size: 1.408rem 5.632rem;
  height: 1.408rem;
  width: 1.408rem;
  margin-top: 0.42666667rem;
  margin-right: -0.42666667rem;
}
#pay {
  display: block;
  width: 14.82666667rem;
  height: 2.34666667rem;
  background: #e02e2e;
  color: #fff;
  font-size: 1.024rem;
  line-height: 2.34666667rem;
  text-align: center;
  border-radius: 0.21333333rem;
  margin: 4.8rem auto 0;
}
